In [1]:
from pyspark.sql import SparkSession

spark = SparkSession \
    .builder \
    .appName("Python Spark SQL basic example") \
    .config("spark.some.config.option", "some-value") \
    .getOrCreate()

In [4]:
from pyspark.sql import Row
import os
sc = spark.sparkContext
PATH=os.path.expanduser("~/test_data")
rawData = sc.textFile("%s/ml-100k/u.data" % PATH)
rawData.first()

u'196\t242\t3\t881250949'

In [6]:
parts = rawData.map(lambda l: l.split("\t"))
people = parts.map(lambda p: Row(r1=p[0], r2=p[1], r3=p[2],r4=p[3]))
schemaPeople = spark.createDataFrame(people)
schemaPeople.createOrReplaceTempView("people")

In [7]:
spark.sql("select * from people").show()

+---+----+---+---------+
| r1|  r2| r3|       r4|
+---+----+---+---------+
|196| 242|  3|881250949|
|186| 302|  3|891717742|
| 22| 377|  1|878887116|
|244|  51|  2|880606923|
|166| 346|  1|886397596|
|298| 474|  4|884182806|
|115| 265|  2|881171488|
|253| 465|  5|891628467|
|305| 451|  3|886324817|
|  6|  86|  3|883603013|
| 62| 257|  2|879372434|
|286|1014|  5|879781125|
|200| 222|  5|876042340|
|210|  40|  3|891035994|
|224|  29|  3|888104457|
|303| 785|  3|879485318|
|122| 387|  5|879270459|
|194| 274|  2|879539794|
|291|1042|  4|874834944|
|234|1184|  2|892079237|
+---+----+---+---------+
only showing top 20 rows